
body{
    background: linear-gradient(0.25turn, rgb(16, 199, 255), #8826ff);
    color: white;
}

#need-metamask{
  color: red;
  background-color: black;
  text-align: center;
}


.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  left: 50%;
  top: 40%;
  height: 40vmin;
  pointer-events: none;
  transform: translate(-50%, -50%);
  
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-title{
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 15%; 
}

.app-title-connected{
  position: absolute;
  color: #363636;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 18%; 
}

.connect-bottom {
  padding: 10px;
  border-radius: 25px;
  font-size: 30px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  background-color: blueviolet;
}

.geteth-bar{
  background-color: rgb(255, 255, 255);
  max-width: 60%;
  width: 100%;
  border-radius: 25px;
  max-height: 80%;
  height: 600px;
}

.imput-wallet-address{
  border-radius: 2px;
  margin-left: 30px;
  outline: none;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  position: absolute;
  bottom: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.Send-eth-button{
  background-color: #363636;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 900;
  margin-right: 20px;
  max-height: 60px;
  height: 100%;
  width: 100%;
  max-width: 210px;
  position: absolute;
  bottom: 10%;
  right: 15%;
  transform: translate(-50%, -50%);
}